@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.welcome {
    font-weight:bold;
    font-size:calc((6vmin + 6vmax) / 2);
    padding-left:3vmin;
    padding-right:3vmin;
}
#welcome-more {
    font-weight:bold;
    position:absolute;
    bottom:0;
    font-size:15px;
    color:#424241;
    
}
#arrow {
    position:absolute;
    bottom:-4vmin;
    width:2vmin;
    height:5vmin;
    padding-top:2vmin;
    margin:0 auto;
    
}
.welcome-box {
    position:relative;
    justify-content: center;
    padding-bottom:10vmin;
}
.flave, .inverse-flave:hover {
    color:#E65c20;
}
.flave:hover, .inverse-flave {
    color:#763CA0;
}


.logo-holder, .welcome-frame, .histo-holder {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.main-logo-title {
    position:absolute;
    top:0;
}
.logo-box {
    position:relative;
    width:40vmin;
    height:0;
    padding-top:40vmin;
}
.rotate-down {
    stroke: #E65c20;
}

.rotate-up {
    stroke:#763CA0;
}



.anime-box {
    position:relative;
    align-items:center;
    display:flex;
    justify-content:center;
    color:#E65c20;
    font-size:8vmin;
    font-family:'Bebas Neue';
    font-style: italic;
}
.anime-up, .anime-down {
    position:absolute;
    transform: rotate(-10deg)
}
.anime-up {
    top:calc(45vh - 4vmin);
}
.anime-down {
    top:calc(45vh + 4vmin);
}
.anime-frame {
    background-color:#424241;
}

.histo-holder, .resume-box, .end-title, .projects-title {
    width:100%;
    overflow:hidden;
    align-items: center;
    justify-content:center;
}
#histo-mask, #histo-mask-shadow {
    width:50vmin;
    height:50vmin;
    position:absolute;
    justify-self: center;
    align-self: center;
    border-radius:50%;
}
#histo-mask {
    box-shadow: 0 0 0 200vmax #aaaaaa;
}
#histo-mask-shadow {
    box-shadow: 0 0 10px 10px #424241;
}
#histo-parallax {
    position:absolute;  
    width:50vmin;
    height:100vmin;
    justify-self: center;
    align-self: center;
}
#trial {
    width:100%;
    
}
.histo-untitle, #resume-untitle {
    position:absolute;
    bottom:4vmin;
    font-weight:bold;
    font-size:calc((3vmin + 3vmax) / 2);
    padding-left:10px;
    padding-right:10px;
}
.histo-title, #resume-title {
    position:absolute;
    top:0;
}
.linkage:hover, #histo-mask-shadow {
    cursor:pointer;
    text-decoration: none;
}
.linkage {
    display:inline-block;
}
#histoFrame, #logoFrame {
    background-color: #aaaaaa
}
