.proj-box {
    flex-wrap:wrap;
    padding-left:20px;
    padding-right:20px;
}
.proj-list {
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.proj-headlink {
    font-size:30px;
    font-weight:bold;
    justify-content: center;
}
.proj-name {
    font-weight:bold;
    font-size:2em;
    color:#E65c20;
}
.proj {
    flex-grow: 100%;
    width:100%;
}
.proj-subtitle {
    font-size:1.2em;
    color:#E65c20;
}
.proj-header {
    font-weight:bold;
    font-size:calc((6vmin + 6vmax) / 2);
    padding-left:3vmin;
    padding-right:3vmin;
}
.alternate {
    background-color:#424241;
    color:#FFFFFF;
}